nav{
    background-color: rgb(194, 179, 158);
    font-size: large;
    font-weight: bolder;
}

nav a{
    color: white;
}

.logonav {
    height: 40px; 
    width: auto;
    margin-right: 10px;
    align-items: flex-start;
}

main{
    background-color: rgb(0, 255, 255);
}

.nosotrosCard{
    background-color:rgb(4, 169, 37);
}

.destacadosCard{
    background-color: rgb(4, 169, 37);
}

.contactoBoton{
    background-color: rgb(194, 179, 158);
    font-weight: bolder;
    text-shadow: 1px black;
}

form{
    margin: 0 auto;
}

.formcontainer {
        background-color: rgb(0, 255, 255); /* Color de fondo del margen */
        padding: 20px; /* Añade un relleno para separar visualmente los elementos */
        border-radius: 10px; /* Agrega esquinas redondeadas al margen */
}

footer{
    background-color: rgb(194, 179, 158);
}

.logofooter{
    height: 40px; 
    width: auto;
}
