.carousel-inner {
    border-radius: 1em;
}

.carousel-item {
    height: 500px;

    & img {
        background-size: contain;
        height: 100%;
    }
}

.navbar__logo {
    width: 2em;
}

@media screen and (max-width: 600px) {
    .carousel-item {
        height: 300px;
    }
}